<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../coloris/coloris.css" />
  <script src="../coloris/coloris.js"></script>
</head>

<body>
  <div id="firefox-viewport">
    <%= header %>
    <%= urlList %>
    <div id="edit-mode">
    <%= accountConfig %>
    <!-- <div id="hiddenBox">&nbsp;</div> -->
    <div id="add-url-container">
      <%= urlForm %>
      <%= groupForm %>
    </div>
  </div>
    <%= footer %>
  </div>
</body>

</html>